# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc

# test data
processed_documents/
raw_documents/

# graphrag proesss
graphragPRocess/cache/*
graphragPRocess/input/*
graphragPRocess/output/*
graphragPRocess/.env

# cache
cache/__pycache__/*
cache/azureOpenAICache/*
graphragProcess/cache/claim_extraction/chat_5ae667811b33c9cd95944fb094a0a115b518dea59b596cd483926c445d0f610b_v2
graphragProcess/cache/claim_extraction/chat_42b326b9502dbadfb0ce38c4c66128ed10190cba18d346e99bf4dac1a92f08bc_v2
graphragProcess/cache/claim_extraction/chat_547b97e89eca249c66a3083e90349b8b507bcf01c44fa4743ba7062d6ae0b505_v2
graphragProcess/cache/claim_extraction/chat_ab962ae1df43a03c6350c8a4e12d2d0d0f501cc8c2034a04a09038532f90abd8_v2
graphragProcess/cache/claim_extraction/chat_ce35376695fe0cfc8a963465bb9fbe51884315085d0005d027c34f0e5592b4cd_v2
graphragProcess/cache/claim_extraction/chat_ebda9adee3f64bf54f437bbab8dc161ce9b5d50bc49c4e173f9a4d08453327a3_v2
graphragProcess/cache/claim_extraction/chat_extract-continuation-0_9ffda047d6308a674ffef66a1ea2b44fbe27cc46033f0f8a9872e58fb71265e3_v2
graphragProcess/cache/claim_extraction/chat_extract-continuation-0_96e1141d2c39696d2ed74b66434b4de5d6783c99d61e3bc558eaf7dea8ff3ed0_v2
graphragProcess/cache/claim_extraction/chat_extract-continuation-0_85344dbafaa2237944fbe6cade9fdcceabb3c58a352f4cdcc49aa650c815c686_v2
graphragProcess/cache/claim_extraction/chat_extract-continuation-0_11079270cbc5885fccacd00bdffea5db57ead9d5a1bfb7c2508513b363eefcfc_v2
graphragProcess/cache/claim_extraction/chat_extract-continuation-0_af534b2f0d891aa348ad16486eaf591515073a9a438f1f5e2e3fcfc8f005f9f3_v2
graphragProcess/cache/claim_extraction/chat_extract-continuation-0_e16dd1aaa769a1148c2159b27a03ba05e813e3c8e77282323132afd1e14f74a2_v2
graphragProcess/cache/community_reporting/chat_create_community_report_3a74675705733c7a32fe132aed5c8cded7217d6bc6ba1e752023d6a2f3b9ac9d_v2
graphragProcess/cache/community_reporting/chat_create_community_report_6e702e998da9ec01016f639976b4a2e1b3c78713a7d13157010d909bcab2f199_v2
graphragProcess/cache/community_reporting/chat_create_community_report_7b31b887edb2b5db61b9cbfa97a92c6d87abad2f1593862c747eeb4175b48fe7_v2
graphragProcess/cache/community_reporting/chat_create_community_report_8ee87ae321f4913a916a8b8847a0a710bc90ff683f688c2740c26b47a805ffc3_v2
graphragProcess/cache/community_reporting/chat_create_community_report_42d812e34e521e7854bd1df449ee04b29571f929b48100fbab103b28f95c0cf9_v2
graphragProcess/cache/community_reporting/chat_create_community_report_60da81fbc01a899cfe77c9094078453d736fff246f47782fe53926a15f65057d_v2
graphragProcess/cache/community_reporting/chat_create_community_report_552c87215488ef7e86142febc037ba16f5988415384e39a7d1a9e5ceeb3d91be_v2
graphragProcess/cache/community_reporting/chat_create_community_report_31939ebab1f4ec892a0c9f72ca3b043981cb389437a1d4fa4fe93bb59010b755_v2
graphragProcess/cache/community_reporting/chat_create_community_report_65256cb3e2dec744f7c5931537f1aa85329ec1f5b7146c63ebe11dc4a914fb65_v2
graphragProcess/cache/community_reporting/chat_create_community_report_723281af342943cf8daf794ec1086e83195caca16be5cef8d0fe3139c3fb4b2f_v2
graphragProcess/cache/community_reporting/chat_create_community_report_2266486baf9c73cd1d26249ecf1b051538012955ffdbbdf65725eb3221dc507b_v2
graphragProcess/cache/community_reporting/chat_create_community_report_64746227f2752cf8c770e00b6fa1629f004b3021ce37a493e3518bdc82799cc5_v2
graphragProcess/cache/community_reporting/chat_create_community_report_a2e1bb378c929caa48c642cc5631711254927841ef73f176a84100bf1830af01_v2
graphragProcess/cache/community_reporting/chat_create_community_report_b44c9129e560052c1a0b92d8bef99d373d02d1202beb2bc9710b81c4935f5d54_v2
graphragProcess/cache/community_reporting/chat_create_community_report_b3734dcbb316f91a3b291a61b4b1258490dbdeab813011b002a83bbead526ac7_v2
graphragProcess/cache/community_reporting/chat_create_community_report_c1b653cddfbd10cae6d9500544dd4c12d5e833051048aee4cd87ddbedb676aba_v2
graphragProcess/cache/community_reporting/chat_create_community_report_c8dfe97acc9827920bb2da808e2539d01da0551786e2563ab812c008ffd83362_v2
graphragProcess/cache/community_reporting/chat_create_community_report_c84f5cfc0ffc798d627d45bf2984d4e9029cf64a17673833155b573cf41ff691_v2
graphragProcess/cache/community_reporting/chat_create_community_report_f67a59b29814c660699f5f67d5fd32df137f2c856d20144389d74e3169c9bb9d_v2
graphragProcess/cache/entity_extraction/chat_4a1de35e5498f519906f4a3590d0b38f2589891685c299a626c12e01462e6179_v2
graphragProcess/cache/entity_extraction/chat_6fe9d22defad1cf57c615ec0bfc90435b53806e818558aed5f47c132e2f7e07a_v2
graphragProcess/cache/entity_extraction/chat_55c9913c28d322561ae18a37c8025e90200be70a1cd6cc5421f33841898d9468_v2
graphragProcess/cache/entity_extraction/chat_84da8045890669d3edddc113f8ef6acbf84c1b618d9e9f7e78ccbc97ddd545b6_v2
graphragProcess/cache/entity_extraction/chat_c7b9a21aaa1901683bf10adc8bde052d7d3165c9a20bc11f41dce47f7f1cc52e_v2
graphragProcess/cache/entity_extraction/chat_extract-continuation-0_36eee88bc2cfdc0e562a699f6d3f33c4d8e9680eecf1b7d01dda264c27b9bf54_v2
graphragProcess/cache/entity_extraction/chat_extract-continuation-0_58e4154ddd07046ee887fcc97df22b2e1fe2ccd00491efacfca8459885270d85_v2
graphragProcess/cache/entity_extraction/chat_extract-continuation-0_80225a8c11e724dd658a284a92b3a512d3f87bca6d141c3538d9c0c364ee019c_v2
graphragProcess/cache/entity_extraction/chat_extract-continuation-0_685780cc7882cbc8daeb8d93b91663c5f6e09b1812b7155eca50e10c5caa6258_v2
graphragProcess/cache/entity_extraction/chat_extract-continuation-0_7720294f83969aafd5f98f39c57e7482372715857ef8a245b63248898b9ca1a0_v2
graphragProcess/cache/entity_extraction/chat_extract-continuation-0_ad8c33dea29a4393664646a38af75b9727534caf680affcb1deb08d2b0c1bbdb_v2
graphragProcess/cache/entity_extraction/chat_fadd0aaeac066ec9676829852b2f2e5aeba2f63ea7da0abda6ddbe643581f17d_v2
graphragProcess/cache/summarize_descriptions/chat_summarize_2ae5072bdd857c7ed5db549fea742ef7ae78d7e26f1d9c659ed603e6cbfcfde2_v2
graphragProcess/cache/summarize_descriptions/chat_summarize_3db556a3df5625585ecb7a35ecd5b74d18da581f2f0702778c7bb56e45257c17_v2
graphragProcess/cache/summarize_descriptions/chat_summarize_04f5e71b55a4ee431e304d35fab184809e9af0046b0d477dc5a97bc2dba7d832_v2
graphragProcess/cache/summarize_descriptions/chat_summarize_94da6bce8dd7d685080f96ee8d78dae2fd5817a89df29554e8dbca1f7b578cdb_v2
graphragProcess/cache/summarize_descriptions/chat_summarize_477b21ff6ede2abf8d99d1d75551846941c812cf8060c9bb222cfa581429b2df_v2
graphragProcess/cache/summarize_descriptions/chat_summarize_c865f167351ac80e61fde7b9e7792ab413832a5973297d2164f4bd8485cb889b_v2
graphragProcess/cache/text_embedding/embeddings_0ddbf432ba583ec4b1201c8d38aace03e8e1afd0bc798dee7ea99609e0c61cbc_v2
graphragProcess/cache/text_embedding/embeddings_3c010207b54a0e95368707aed86d5ade716ea91ff45b1973873db6a6a504aba6_v2
graphragProcess/cache/text_embedding/embeddings_5f2c6c1ad4d157eafbdcaec689e9f30c56003df2c6ac84a71506fce453d39e35_v2
graphragProcess/cache/text_embedding/embeddings_81d38544a3054dc0d01f6afeed1f8613eb1b815e3381505b629016e1006e3ffc_v2
graphragProcess/cache/text_embedding/embeddings_0301cdf30e56b24178e9ea78c0b871c3cebb266be1553f843f116cf51b6a142a_v2
graphragProcess/cache/text_embedding/embeddings_543a3ad18bbbd597c9e883eee0745e01e795cfe700f231f824689eb30cba303e_v2
graphragProcess/cache/text_embedding/embeddings_652ef95f125a89f8db9eed07d67015e1d68733c71e0c8f9dc3241b2bcb73d8d5_v2
graphragProcess/cache/text_embedding/embeddings_7387497e1541a3abb3aeaeadfa2db8450cded19af87d79721eecaeb9f8d911fa_v2
graphragProcess/cache/text_embedding/embeddings_ac6a2cb7d7f58b36fc7d43d4f3b7857e2f740a184f049b6a79be66ec7457ff3e_v2
graphragProcess/cache/text_embedding/embeddings_b46c975a4e8c3c80c263f4456ec8da76a836e983864f92c3150808654ed4162c_v2
graphragProcess/cache/text_embedding/embeddings_cbe89dcba5161c608aabbbb0a3bb4b2be8c07adda9924a037d2c0e8c0831f6f6_v2
graphragProcess/cache/text_embedding/embeddings_ce4ab37338918be14baeebe1f8cdc7b24c55b43f7bce1145b9e18b8de9bbcc44_v2
graphragProcess/logs/logs.json
graphragProcess/output/create_final_communities.parquet
graphragProcess/output/create_final_community_reports.parquet
graphragProcess/output/create_final_covariates.parquet
graphragProcess/output/create_final_documents.parquet
graphragProcess/output/create_final_entities.parquet
graphragProcess/output/create_final_nodes.parquet
graphragProcess/output/create_final_relationships.parquet
graphragProcess/output/create_final_text_units.parquet
graphragProcess/output/stats.json
graphragProcess/output/lancedb/default-community-full_content.lance/_transactions/0-e1dd86c4-099f-4cfa-9776-43e8f6ea5167.txn
graphragProcess/output/lancedb/default-community-full_content.lance/_transactions/1-b7c9a669-a66b-41f0-8906-ba71c0c7ea0b.txn
graphragProcess/output/lancedb/default-community-full_content.lance/data/69ad9bd8-4ec3-4705-8bd4-2527ea492e5a.lance
graphragProcess/output/lancedb/default-entity-description.lance/_transactions/0-3899f266-6aff-4279-8552-9f2e4352fa75.txn
graphragProcess/output/lancedb/default-entity-description.lance/_transactions/1-4ae1f9a7-409e-4373-ba1c-849f33b1d28e.txn
graphragProcess/output/lancedb/default-entity-description.lance/data/9730dfa7-727e-4084-baec-81ed5d4a01f8.lance
graphragProcess/output/lancedb/default-text_unit-text.lance/_transactions/0-04886bbb-8475-4426-a408-8dc410af0065.txn
graphragProcess/output/lancedb/default-text_unit-text.lance/_transactions/1-00324867-9cf5-45dc-a3ef-5c05dca2619e.txn
graphragProcess/output/lancedb/default-text_unit-text.lance/data/6b86df4f-795c-4902-b5bd-fe1da6278f18.lance
graphragProcess/prompts/claim_extraction.txt
graphragProcess/prompts/community_report.txt
graphragProcess/prompts/drift_search_system_prompt.txt
graphragProcess/prompts/entity_extraction.txt
graphragProcess/prompts/global_search_knowledge_system_prompt.txt
graphragProcess/prompts/global_search_map_system_prompt.txt
graphragProcess/prompts/global_search_reduce_system_prompt.txt
graphragProcess/prompts/local_search_system_prompt.txt
graphragProcess/prompts/question_gen_system_prompt.txt
graphragProcess/prompts/summarize_descriptions.txt
graphragProcess/prompts/tuned/community_report.txt
graphragProcess/prompts/tuned/entity_extraction.txt
graphragProcess/prompts/tuned/summarize_descriptions.txt
